<div id="<%= dom_id car %>">
  <p>
    <strong>Description:</strong>
    <%= car.description %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= car.year %>
  </p>

  <p>
    <strong>Url image:</strong>
    <%= car.url_image %>
  </p>

</div>
